<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <ul>
      <li><a href='/load?source=provider1'>Import from Provider 1</a></li>
      <li><a href='/load?source=provider2'>Import from Provider 2</a></li>
    </ul>
  </body>
</html>